<!DOCTYPE html>
<html>
<head>
    <title>Upload Monitor - KST</title>
    <meta http-equiv="refresh" content="5">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            margin: 0;
            background-color: #1e1e1e;
            color: #ccc;
        }
        .chart-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        canvas {
            max-width: 90%;
            max-height: 90%;
        }
    </style>
</head>
<body>
<div class="chart-container">
    <canvas id="uploadChart"></canvas>
</div>
<script>
    fetch('/upload-stats')
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('uploadChart').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: '',
                        data: data.values,
                        fill: false,
                        borderColor: 'limegreen',
                        borderWidth: 1,
                        pointRadius: 0,
                        tension: 0.2
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { display: false }
                    },
                    scales: {
                        x: {
                            ticks: { color: '#aaa' },
                            grid: { display: false }
                        },
                        y: {
                            beginAtZero: true,
                            min:0,
                            max:10,
                            ticks: { color: '#aaa',
                                     precision:0
                                    },
                            grid: { color: '#333' }
                        }
                    }
                }
            });
        });
</script>
</body>
</html>
